<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sociado</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
  </head>

  <style>
    .flex-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }

    .avatar-div {
      margin-right: 15px;
    }

    #messages {
      margin-bottom: 70px;
      /* Espaço reservado para o input fixado */
    }

    .container-send-message {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #14161b;
      /* Fundo para destacar o input */
      padding: 10px;
      box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
      /* Sombra para destaque */
      z-index: 10;
    }
  </style>

  <body>
    <section class="section">
      <div class="container" id="messages">
        <!-- MESSAGE -->
      </div>

      <div class="container-send-message flex-container">
        <input
          id="messageInput"
          class="input is-rounded"
          type="text"
          placeholder="Escreva sua mensagem..."
          onkeypress="handle(event)"
        />
        <button class="button is-rounded" onclick="sendMessage()">
          <span class="icon">
            <i class="fas fa-paper-plane"></i>
          </span>
        </button>
      </div>
    </section>

    <script
      src="https://cdn.socket.io/4.8.1/socket.io.min.js"
      integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+"
      crossorigin="anonymous"
    ></script>

    <script>
      const username = prompt("Qual seu nick?");

      const socket = io();

      const messageInput = document.getElementById("messageInput");
      const messagesContainer = document.getElementById("messages");

      socket.on("chat.message", (message) => {
        messagesContainer.innerHTML += `
   <div class="message">
       <div class="flex-container">
         <div class="avatar-div is-one-fifth">
           <figure class="image is-64x64">
             <img class="is-rounded"
               src="https://i.pinimg.com/736x/25/7a/3c/257a3c10ae891512cc21baa3e5123500.jpg" />
           </figure>
         </div>
         <div>
           <h1><strong>${message.name}</strong></h1>
           <p>${message.content}</p>
         </div>
       </div>
     </div>
   `;
        window.scrollTo(0, document.body.scrollHeight);
      });

      function sendMessage() {
        socket.emit("chat.message", {
          name: username,
          content: messageInput.value,
        });

        messageInput.value = "";
      }

      function handle(e) {
        if (e.keyCode === 13) {
          e.preventDefault(); // Ensure it is only this code that runs

          sendMessage();
        }
      }
    </script>
  </body>
</html>
